<div id="modalBox" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Login Management</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">close</span></button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
            <label for="MNG_ID" class="text-black">ID</label>
            <input type="text" class="form-control" id="MNG_ID">
            <label for="MNG_PW" class="text-black">PASSWORD</label>
            <input type="password" class="form-control" id="MNG_PW">
        </div>
      </div>
      <div class="modal-footer" style="display: inline-block;">
        <button style="float:left" type="button" class="btn btn-info" id="signInBtn" onclick="location.href='/signup'">SignUp</button>
        <button style="float:right" type="button" class="btn btn-default" id="closeModalBtn">Cancel</button>          	
        <button style="float:right" type="button" class="btn btn-primary" id="confirmBtn">Ok</button>
        <div style="float:right;margin: 8px 15px 0px 0px;" class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="chkSaveID">
          <label class="custom-control-label" for="chkSaveID">Save ID</label>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/login.js"></script>