<% include ./layout/head.ejs %>


<div class="hero-wrap js-fullheight" style="background-image: url('images/bg_2.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start"
      data-scrollax-parent="true">
      <div class="col-md-8 ftco-animate text-center text-md-left mb-5"
        data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-3"><a
              href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Sign Up</span></p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Sign Up</h1>
      </div>
    </div>
  </div>
</div>

<div class="ftco-section bg-light">
  <div class="container">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" id='tab1' href="#candidate">CANDIDATE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" id='tab2' href="#employer">EMPLOYER</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="candidate">
        <div class="row">
          <!--          첫번째 탭               -->
          <div class="col-md-12 mb-5 mb-md-0">
            <h2 class="h3 mb-3 mt-3 text-black">Candidate SignUp</h2>
            <div class="p-5 p-lg-5 border">
              <div class="form-group row">
                <div class="col-md-10">
                  <label for="cId" class="text-black">ID<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="cId" >
                </div>
                <div class="col-md-2 pl-0 ml-0 pt-5">
                  <div class="btn btn-outline-primary" type="button" id='btnIdCheck1' data-memo ='cId'>ID CHECK</div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="cPass" class="text-black">PASSWORD <span class="text-danger">*</span></label>
                  <input type="password" class="form-control" id="cPass">
                </div>
                <div class="col-md-6">
                  <label for="cConfirmPass" class="text-black">CONFIRM PASSWORD <span
                      class="text-danger">*</span></label>
                  <input type="password" class="form-control" id="cConfirmPass">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="cName" class="text-black">NAME<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="cName">
                </div>
                <div class="col-md-4">
                  <label for="cMail" class="text-black">EMAIL <span class="text-danger">*</span></label>
                  <input type="email" class="form-control" id="cMail">
                </div>
                <div class="col-md-2 pl-0 pt-5">
                  <div class="btn btn-outline-primary" type="button" id='btnMailCheck1' data-memo ='cMail'>EMAIL CHECK</div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-4">
                  <label for="cPhone" class="text-black">PHONE<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="cPhone" numberonly="true">
                </div>
                <div class="col-md-4">
                  <label for="cBirth" class="text-black">BIRTH DATE<span class="text-danger">*</span></label>
                  <input type="text" id="cBirth" name='datePicker' class="form-control">
                </div>
                <div class="col-md-4">
                  <div><label for="rdoSex1" class="text-black">SEX<span class="text-danger">*</span></label></div>
                  <div class="form-check form-check-inline pt-3">
                    <input type="radio" class="form-check-input" id="rdoSex1" name="rdoSex" checked>
                    <label class="form-check-label" for="materialInline1">Man</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="rdoSex2" name="rdoSex">
                    <label class="form-check-label" for="materialInline2">Woman</label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="cAdress" class="text-black">ADDRESS<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="cAdress">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="cJobType" class="text-black">JOB TYPE<span class="text-danger">*</span></label>
                  <select id="cJobType" class="form-control">
                    <option value="0">Please Select</option>
                    <% for(let j = 0; j< JsonParam.jobType.length; j++){%>
                    <option value="<%=JsonParam.jobType[j].CODE_IDX%>"><%=JsonParam.jobType[j].CODE_NAME%></option>
                    <%}%>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="cJobTypeDetail" class="text-black">JOB TYPE DETAIL<span class="text-danger">*</span></label>
                  <select id="cJobTypeDetail" class="form-control">
                    <!--JOBTYPE DETAIL-->
                    <option value="0">Please Select</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="cImage" class="text-black" style="display:block;">CANDIDATE IMAGE<span
                      class="text-danger">*</span></label>
                  <!-- <input type="text" class="form-control" id="c_lname" name="c_lname"> -->
                  <!-- <div class="site-blocks-cover inner-page" style="background-image: url('images/hero_1.jpg');"> -->
                  <img src='/images/postImage/noimage.png' width="300" height="300" id='cImage' alt='Image'
                    class='img-fluid' style="display: block; margin: auto;">
                </div>
                <div class="col-md-6">
                  <!-- <input class="upload-name" value="Select File" disabled="disabled" >  -->
                  <form action="/signup/candidate/imageUpload" method="post" id="c_form_img" enctype="multipart/form-data"
                    accept-charset="utf-8">
                    <div>
                      <label for="cImageFile" class="text-black">SELECT IMAGE FILE</label><span
                        class="text-danger">*</span>
                        <div>
                      <input type="file" name="cImage" id="cImageFile">
                      <span class="error image"></span>
                      </div>
                    </div>
                    </br>
                    <label for="cPath" class="text-black" style="display:block;">SAVE FILE PATH</label>
                    <input type="text" class="form-control" id="cPath" disabled='disabled'>
                    <input type="submit" name="cSubmit" value="Image Save" style="margin-top:15px;">
                  </form>
                </div>
              </div>
              <div class="form-group">
                <label for="cIntro" class="text-black">SELF INTRODUCTION<span class="text-danger">*</span></label>
                <textarea id="cIntro" cols="30" rows="5" class="form-control"
                  placeholder="Write here..."></textarea>
              </div>
              <div class="form-group">
                <div style='float:left;'>
                  <div class="btn btn-primary btn-lg" type="button" id='btnInit1'>INIT VALUE</div>
                </div>
                <div style='float:right;'>
                  <div class="btn btn-primary btn-lg" type="button" id='btnSave1' data-memo ='cId'>SAVE</div>
                </div>
              </div>
              <div class="form-group">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="employer">
        <div class="row">
<!--          두번째 탭               -->
          <div class="col-md-12 mb-5 mb-md-0">
            <h2 class="h3 mb-3  mt-3 text-black">Employer SignUp</h2>
            <div class="p-5 p-lg-5 border">
              <div class="form-group row">
                <div class="col-md-10">
                  <label for="eId" class="text-black">ID<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="eId">
                </div>
                <div class="col-md-2 pl-0 ml-0 pt-5">
                  <div class="btn btn-outline-primary" type="button" id='btnIdCheck2' data-memo='eId'>ID CHECK</div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="ePass" class="text-black">PASSWORD <span class="text-danger">*</span></label>
                  <input type="password" class="form-control" id="ePass">
                </div>
                <div class="col-md-6">
                  <label for="eConfirmPass" class="text-black">CONFIRM PASSWORD <span class="text-danger">*</span></label>
                  <input type="password" class="form-control" id="eConfirmPass">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="eName" class="text-black">EMPLOYER NAME <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="eName">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="eIntro" class="text-black">EMPLOYER INTRODUCTION</label>
                  <textarea id="eIntro" cols="30" rows="3" class="form-control"
                  placeholder="Write here..."></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="eImage" class="text-black" style="display:block;">EMPLOYER IMAGE<span
                      class="text-danger">*</span></label>
                  <!-- <input type="text" class="form-control" id="c_lname" name="c_lname"> -->
                  <!-- <div class="site-blocks-cover inner-page" style="background-image: url('images/hero_1.jpg');"> -->
                  <img src='/images/postImage/noimage.png' id='eImage' alt='Image' width="300" height="300" 
                    class='img-fluid' style="display: block; margin: auto;">
                </div>
                <div class="col-md-6">
                  <!-- <input class="upload-name" value="Select File" disabled="disabled" >  -->
                  <form action="/signup/employer/imageUpload" method="post" id="e_form_img" enctype="multipart/form-data"
                    accept-charset="utf-8">
                    <div>
                      <label for="eImageFile" class="text-black">SELECT IMAGE FILE</label><span
                        class="text-danger">*</span>
                        <div>
                      <input type="file" name="eImage" id="eImageFile">
                      <span class="error image"></span>
                      </div>
                    </div>
                    </br>
                    <label for="ePath" class="text-black" style="display:block;">SAVE FILE PATH</label>
                    <input type="text" class="form-control" id="ePath" disabled='disabled'>
                    <input type="submit" name="eSubmit" value="Image Save" style="margin-top:15px;">
                  </form>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-10">
                  <label for="comName" class="text-black">COMPANY NAME <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="comName">
                </div>
                <div class="col-md-10">
                  <label for="comMail" class="text-black">COMPANY EMAIL <span class="text-danger">*</span></label>
                  <input type="email" class="form-control" id="comMail">
                </div>
                <div class="col-md-2 pl-0 pt-5">
                  <div class="btn btn-outline-primary" type="button" id='btnMailCheck2' data-memo ='comMail'>EMAIL CHECK</div>
                </div>
            </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="comPhone" class="text-black">COMPANY TELEPHONE NUMBER<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="comPhone" numberonly="true">
                </div>
                <div class="col-md-6">
                  <label for="comBirth" class="text-black">COMPANY ESTABLISHMENT DATE<span class="text-danger">*</span></label>
                  <input type="text" name="datePicker" id="comBirth" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="comAdress" class="text-black">COMPANY ADDRESS <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="comAdress">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="comJobType" class="text-black">JOB TYPE<span class="text-danger">*</span></label>
                  <select id="comJobType" class="form-control">
                    <option value="0">Please Select</option>
                    <% for(let j = 0; j< JsonParam.jobType.length; j++){%>
                    <option value="<%=JsonParam.jobType[j].CODE_IDX%>"><%=JsonParam.jobType[j].CODE_NAME%></option>
                    <%}%>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="comImage" class="text-black" style="display:block;">COMPANY IMAGE<span
                      class="text-danger">*</span></label>
                  <!-- <input type="text" class="form-control" id="c_lname" name="c_lname"> -->
                  <!-- <div class="site-blocks-cover inner-page" style="background-image: url('images/hero_1.jpg');"> -->
                  <img src='/images/postImage/noimage.png' id='comImage' alt='Image' width="300" height="300" 
                    class='img-fluid' style="display: block; margin: auto;">
                </div>
                <div class="col-md-6">
                  <!-- <input class="upload-name" value="Select File" disabled="disabled" >  -->
                  <form action="/signup/company/imageUpload" method="post" id="com_form_img" enctype="multipart/form-data"
                    accept-charset="utf-8">
                    <div>
                      <label for="comImageFile" class="text-black">SELECT IMAGE FILE</label><span
                        class="text-danger">*</span>
                        <div>
                      <input type="file" name="comImage" id="comImageFile">
                      <span class="error image"></span>
                      </div>
                    </div>
                    </br>
                    <label for="comPath" class="text-black" style="display:block;">SAVE FILE PATH</label>
                    <input type="text" class="form-control" id="comPath" disabled='disabled'>
                    <input type="submit" name="comSubmit" value="Image Save" style="margin-top:15px;">
                  </form>
                </div>
              </div>
              <div class="form-group">
                <label for="comIntro" class="text-black">COMPANY INTRODUCTION<span class="text-danger">*</span></label>
                <textarea id="comIntro" cols="30" rows="5" class="form-control"
                  placeholder="Write here..."></textarea>
              </div>
              <div class="form-group">
                <div style='float:left;'>
                  <div class="btn btn-primary btn-lg" type="button" id='btnInit2'>INIT VALUE</div>
                </div>
                <div style='float:right;'>
                  <div class="btn btn-primary btn-lg" type="button" id='btnSave2' data-memo ='eId'>SAVE</div>
                </div>
              </div>
              <div class="form-group">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% include ./layout/footer.ejs %>
                    <script src="/javascript/signup.js"></script>